.AstrixSectionWrapper {
    background-color: #15181B;
    padding: 2em 2em;
    height: 43em;
    position: relative;
    overflow: hidden;
}


.astrixBig,
.contextBig {
    font-size: 8rem;
    font-weight: 500;
    color: #444649;
    line-height: 0.8em;
}

.btmar {
    margin-bottom: 0.9em;
}

.SectionContextTitle {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 35em;
}

.AstrixSectionLeft {
    padding: 2em 0em;
}




/* Purple Strip Styling */
.purpleStrip {
    position: absolute;
    background-color: #B9A0FF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5em;
    width: 92em;
    transform: translate(-50%, -50%) rotate(90deg);
    left: 10%;
    top: 94%;
    transform-origin: center;
    animation: animatedPurpleStrip 9s ease-in-out infinite;
}

@keyframes animatedPurpleStrip {
    0% {
        transform: translateY(0em) rotate(90deg);
    }

    50% {
        transform: translateY(-42em) rotate(90deg);
    }

    100% {
        transform: translateY(0em) rotate(90deg);
    }
}

.purpleStripText {
    font-family: "Krona One", sans-serif;
    font-size: 1.4em;
    font-weight: 400;
}

.StarSymbol {
    margin: 0px 20px;
}